<form role="form" #frm="ngForm" (submit)="submit(frm)" ngNativeValidate method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nume magazin (*)</label>
        <input type="text" class="form-control" placeholder="Introdu nume magazin" [(ngModel)]="shop.name" required name="name" #name="ngModel" />
        <div *ngIf="name.errors && (name.dirty || name.touched || isSubmitted)">
          <p [hidden]="!name.errors.required" class="required-text">
            Introdu magazin!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Alias magazin</label>
        <input type="text" class="form-control" placeholder="Introdu alias magazin" [(ngModel)]="shop.alias" name="alias" #name="ngModel" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Adresă</label>
        <input type="text" class="form-control" placeholder="Introdu adresă" [(ngModel)]="shop.address" name="address" #address="ngModel" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Oraș</label>
        <input type="text" class="form-control" placeholder="Introdu oraș" [(ngModel)]="shop.city" name="city" #city="ngModel" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Județ</label>
        <input type="text" class="form-control" placeholder="Introdu județ" [(ngModel)]="shop.state" name="state" #state="ngModel" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Țară</label>
        <input type="text" class="form-control" placeholder="Introdu țară" [(ngModel)]="shop.country" name="country" #country="ngModel" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Cod zip</label>
        <input type="text" class="form-control" placeholder="Introdu cod zip" [(ngModel)]="shop.zipcode" name="zipcode" #zipcode="ngModel" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Adresa de email (*)</label>
        <input type="text" class="form-control" placeholder="utilizator@exemplu.ro" [(ngModel)]="shop.email" name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
      <div *ngIf="email.errors && (email.dirty || email.touched || isSubmitted)">
        <p [hidden]="!email.errors.required" class="required-text">
          Adresa de email obligatorie.
        </p>
        <p [hidden]="!email.errors.pattern" class="required-text">
          Introdu adresă de email validă.
        </p>
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Numărul de telefon</label>
        <input type="text" class="form-control" placeholder="Introdu numărul de telefon" [(ngModel)]="shop.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Adresă de returnare</label>
        <input type="text" class="form-control" placeholder="Introdu adresa de returnare" [(ngModel)]="shop.returnAddress" name="returnAddress" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Text antet</label>
        <input type="text" class="form-control" placeholder="Introdu text" [(ngModel)]="shop.headerText" name="text" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Anunț</label>
        <textarea type="text" class="form-control" placeholder="Introdu text" [(ngModel)]="shop.announcement" name="announcement" cols="3"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Cod Google Anyalytics</label>
        <input type="text" class="form-control" placeholder="Introdu Cod Google Anyalytics" [(ngModel)]="shop.gaCode" name="gaCode" #gaCode="ngModel" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Logo <media-select (onSelect)="selectLogo($event)"></media-select></label><br />
        <img [src]="shop?.logo?.thumbUrl" class="avatar" width="150" *ngIf="shop?.logo" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Problemă la verificarea magazinului <media-select (onSelect)="selectVerificationIssue($event)"></media-select></label><br />
        <a href="{{shop?.verificationIssue?.fileUrl}}" download target="_blank">{{shop?.verificationIssue?.name}}</a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Banner <media-select (onSelect)="selectBanner($event)"></media-select></label><br />
        <img [src]="shop?.banner?.thumbUrl" class="avatar" width="150" *ngIf="shop?.banner" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Salvează</button>
      </div>
    </div>
  </div>
</form>
