<form role="form" #frm="ngForm" (submit)="submit(frm)" ngNativeValidate method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nume bancă (*)</label>
        <input type="text" class="form-control" placeholder="Introdu nume bancă" [(ngModel)]="shop.bankInfo.bankName" required name="bankName" #bankName="ngModel"/>
        <div *ngIf="bankName.errors && (bankName.dirty || bankName.touched || isSubmitted)">
            <p [hidden]="!bankName.errors.required" class="required-text">
              Introdu nume bancă!
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>ID bancă (*)</label>
        <input type="text" class="form-control" placeholder="Introdu ID bancă" [(ngModel)]="shop.bankInfo.bankId" required name="bankId" #bankId="ngModel"/>
        <div *ngIf="bankId.errors && (bankId.dirty || bankId.touched || isSubmitted)">
          <p [hidden]="!bankId.errors.required" class="required-text">
            Introdu ID bancă!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nume unitate bancă (*)</label>
        <input type="text" class="form-control" placeholder="Introdu nume unitate bancă" [(ngModel)]="shop.bankInfo.bankBranchName" required name="bankBranchName" #bankBranchName="ngModel"/>
        <div *ngIf="bankBranchName.errors && (bankBranchName.dirty || bankBranchName.touched || isSubmitted)">
          <p [hidden]="!bankBranchName.errors.required" class="required-text">
            Introdu nume unitate bancă!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>ID unitate bancă (*)</label>
        <input type="text" class="form-control" placeholder="Introdu ID unitate bancă" [(ngModel)]="shop.bankInfo.bankBranchId" required name="bankBranchId" #bankBranchId="ngModel"/>
        <div *ngIf="bankBranchId.errors && (bankBranchId.dirty || bankBranchId.touched || isSubmitted)">
          <p [hidden]="!bankBranchId.errors.required" class="required-text">
            Introdu ID unitate bancă!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nume cont (*)</label>
        <input type="text" class="form-control" placeholder="Introdu nume cont" [(ngModel)]="shop.bankInfo.accountName" required name="accountName" #accountName="ngModel"/>
        <div *ngIf="accountName.errors && (accountName.dirty || accountName.touched || isSubmitted)">
          <p [hidden]="!accountName.errors.required" class="required-text">
            Introdu nume cont!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Număr cont (*)</label>
        <input type="text" class="form-control" placeholder="Introdu număr cont" [minlength]="11" [maxlength]="30" [(ngModel)]="shop.bankInfo.accountNumber" pattern="[a-zA-Z0-9]+" required name="accountNumber" #accountNumber="ngModel"/>
        <div *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched || isSubmitted)">
          <p [hidden]="!accountNumber.errors.required" class="required-text">
            Introdu număr cont!
          </p>
          <p [hidden]="!accountNumber.errors.pattern" class="required-text">
              Număr cont conține doar caractere alfanumerice
            </p>
            <p [hidden]="!accountNumber.errors.minlength" class="error" translate>
              Număr cont trebuie să conțină cel puțin 11 caractere
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Cod Swift (*)</label>
        <input type="text" class="form-control" placeholder="Introdu cod swift" [minlength]="8" [maxlength]="11" [(ngModel)]="shop.bankInfo.swiftCode" pattern="[a-zA-Z0-9]+" required name="swiftCode" #swiftCode="ngModel"/>
        <div *ngIf="swiftCode.errors && (swiftCode.dirty || swiftCode.touched || isSubmitted)">
            <p [hidden]="!swiftCode.errors.required" class="required-text">
              Introdu cod swift!
            </p>
            <p [hidden]="!swiftCode.errors.pattern" class="required-text">
              Codul Swift conține doar caractere alfanumerice
            </p>
            <p [hidden]="!swiftCode.errors.minlength" class="error" translate>
              Cod Swift trebuie să aive 8 sau 11 caractere
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Salvează</button>
      </div>
    </div>
  </div>
</form>
